<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FirstProjectMySQL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <FirstProjectMySQL.Properties.Settings>
            <setting name="port" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="ipaddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="user" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="pwd" serializeAs="String">
                <value>root123</value>
            </setting>
            <setting name="schema" serializeAs="String">
                <value>mysqlproject</value>
            </setting>
        </FirstProjectMySQL.Properties.Settings>
    </userSettings>
</configuration>